@import "normalize.css"
@import "@fortawesome/fontawesome-free"

@font-face
  font-family: 'Fa Brands'
  src: url('../font/fa-brands-400.woff2') format('woff2')
@font-face
  font-family: 'Fa Regular'
  src: url('../font/fa-regular-400.woff2') format('woff2')
@font-face
  font-family: 'Fa Solid'
  src: url('../font/fa-solid-900.woff2') format('woff2')
@font-face
  font-family: 'Fa Solid'
  src: url('../font/fa-solid-900.woff2') format('woff2')
@font-face
  font-family: 'Montserrat Thin'
  src: url('../font/Montserrat-Thin.ttf') format('ttf')

html
  height: 100%
body
  height: 100%
#root
  height: 100%
  font-family: Lato,'Helvetica Neue',Arial,Helvetica, sans-serif,
    'Fa Brands','Fa Regular','Fa Solid', 'Montserrat Thin'
